<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/dev_tools</property>
        <property name="hibernate.connection.username">dev_tools</property>
        <property name="hibernate.connection.password">Password!</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.jdbc.use_streams_for_binary">true</property>
        <!-- Class Mappings -->
        <mapping class="com.beardflex.bean.Effort" />
        <mapping class="com.beardflex.bean.ActionItem" />
        <mapping class="com.beardflex.bean.Version" />
        <mapping class="com.beardflex.bean.Project" />
        <mapping class="com.beardflex.bean.TrackedEffort" />
        <mapping class="com.beardflex.bean.Feature" />
        <mapping class="com.beardflex.bean.Bug" />
        <mapping class="com.beardflex.bean.HtmlContent" />
        <mapping class="com.beardflex.bean.HtmlImage" />
    </session-factory>
</hibernate-configuration>